/* styles.css */
body {
    font-family: 'Khmer OS Muol', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    
  }
  .scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.scroll-top-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
  .container {
    font-family: 'Khmer OS Content', Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 85vh; 
    color: #333;
    overflow: hidden;
    width: 100%;
    margin: auto;
    float: left;
  }
  .background1 {
    background-image: url('images/pic10.jpeg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 0;
    padding: 0;
  }
  .overlay1 {
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent dark background */
    text-align: center;
    color: #fff;
    height: 100%;
    width: 100%;
  }
  h4 {
    font-family: 'Khmer OS Moulpali', Arial, sans-serif;
    font-size: 27px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .together {
    margin-top: 27vh;
    font-family: 'Khmer OS Metalchrieng', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    /* color: rgb(248, 157, 255); */
    animation: color-change 24s infinite;
  }
  @keyframes color-change {
    0% { color: #ADFF2F; }
    20% { color: #EE82EE; }
    40% { color: #FF1493; }
    60% { color: #7FFF00; }
    80% { color: #9400D3; }
    100% { color: #FFFF00; }
    
  }
  .welcome {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  .date {
    font-size: 16px;
    font-weight: bold;
    margin-top: 27vh;
  }
  .invitation {
    text-align: center;
    /* max-width: 600px; */
    height: auto;
    width: 100%;
    padding: 10px;
  }
  
  .main-title {
    font-family: 'Khmer OS Moulpali', Arial, sans-serif;
    font-size: 27px;
    color: #ff69b4;
    /* margin-top: 0; */
    /* margin-bottom: 10px; */
  }
  
  .sub-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .couple-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .person {
    text-align: center;
    margin: 0 15px;
  }
  
  .person-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .name {
    font-family: 'Khmer OS Metalchrieng', Arial, sans-serif;
    color: #ff69b4;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
  }

  .hus-wife {
    margin: 0;
  }

  .heart {
    font-size: 30px;
    margin: 0 10px;
    font-weight: bold;
    color: #ff69b4;
  }
  .name1 {
    font-size: 25px;
  }
  .event-details {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .venue {
    font-size: 16px;
    font-weight: bold;
  }
  .container1 {
    font-family: 'Khmer OS Content', Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 120vh; 
    color: #333;
    overflow: hidden;
    width: 100%;
    margin: auto;
    float: left;
  }
  .anniversary {
    text-align: center;
    /* max-width: 600px; */
    height: auto;
    width: 100%;
    padding: 20px;
    float: left;
  }
  .main-title1 {
    font-size: 30px;
    color: #ff69b4;
    margin: 0;
  }
  .description1 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .container1 ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .container1 ul li {
    background-color: rgba(29, 29, 29, 0.4);
    display: inline-block;
    width: 350px;
    height: 420px;
    margin: 3px;
    padding: 0;
    overflow: hidden;
    border-radius: 2%;
  }
  .pic1 {
    border-radius: 2%;
    object-fit: cover;
  }
  .container1 img {
    width: 100%;
    height: 100%;
    float: left;
  }
  
  /* styles.css */
 /* html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Khmer OS Content', Arial, sans-serif;

  } */
  .background {
    background-image: url('images/pic15.jpeg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    float: left;
  }
  .overlay2 {
    background-color: rgba(29, 29, 29, 0.4); /* Semi-transparent dark background */
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
  }
  .overlay {
    background-color: rgb(240, 240, 240 , 0.2); /* Semi-transparent dark background */
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
  }
  
  h2 {
    font-family: Wix Madefor Display,Dangrek;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-family: Wix Madefor Display,Dangrek;
    font-size: 24px;
    margin-top: 30px;
  }
  
  p {
    font-family: Wix Madefor Display,Dangrek;
    font-size: 16px;
    line-height: 1.6;
  }
  .location-section {
    font-family: 'Khmer OS Content', Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    color: #333;
    overflow: hidden;
    width: 100%;
    margin: auto;
    float: left;
  }
  .text-location {
    text-align: center;
    /* max-width: 600px; */
    height: auto;
    width: 100%;
    padding: 10px;
  }
  .home-text {
    font-family: 'Khmer OS Moulpali', Arial, sans-serif;
    font-size: 35px;
    color: #ff69b4;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .homeland {
    /* font-family: "Wix Madefor Display , Dangrek"; */
    color: #ff69b4;
  }
  .container3 {
    text-align: center;
    height: auto;
    width: 100%;
  }
  /* Styling for the map container */
  .map-container {
    width: 100%;
    height: 450px;
    /* border: 2px solid #ccc; */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10vh;
  }
  
  /* Make the iframe fill the map container */
  .map-container iframe {
    width: 100%;
    height: 100%;
    /* border: none; */
  }
  .footer {
    width: 100%;
    color: rgb(0, 0, 0 , 0.5);
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-top: 4vh;
  }

  #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0 , 0.7); /* Dark background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  /* Loader content */
  .bouncing-dots {
    display: flex;
    gap: 10px;
  }

  /* Individual bouncing dot */
  .dot {
    width: 20px;
    height: 20px;
    background-color: #ff69b4; /* Dot color */
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out;
  }

  /* Delay for each dot */
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }

  /* Bouncing animation */
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
